Django==5.2.*
djangorestframework>=3.15,<4
appwrite==7.0.0
redis>=5,<6
celery>=5.4,<6
django-celery-beat>=2.7,<3
weasyprint>=62,<63
pandas>=2.2,<3
openpyxl>=3.1,<4
djangorestframework-simplejwt>=5,<6
django-ratelimit>=4,<5
python-decouple>=3.8,<4
gunicorn>=22,<23
django-cors-headers>=4.4,<5
cryptography>=42,<44
